# ignore dirs
.cache
.dap-breakpoints
.lsp-session-v1
eln-cache
elpa
eshell
transient

# recent file
recentf

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
